language: objective-c
osx_image: xcode8
before_install:
- brew update
- brew install carthage || brew outdated carthage || brew upgrade carthage
install:
- carthage bootstrap
branches:
  only:
    - master
    - 
script:
  - set -o pipefail && xcodebuild -workspace Haneke.xcworkspace -scheme Haneke-iOS -destination 'platform=iOS Simulator,name=iPhone 6,OS=9.3' build test | xcpretty --color
